body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0c1b2a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
}

.navbar nav a {
  margin: 0 20px;
  color: #d7e2ea;
  text-decoration: none;
  font-size: 16px;
}

.btn-sign {
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #273b81, #426b89);
  transition: 0.3s;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.hero {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.4;
}

.hero span {
  color: #a9cdf3;
}

.search-filter {
  margin: 40px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-filter input {
  width: 180px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #142634;
  color: white;
}

.filters {
  display: flex;
  gap: 20px;
}

.filter-btn {
  padding: 10px 10px;
  background: #14263400;
  color: white;
  border-radius: 10px;
  border: 1px solid #2b4153;
  cursor: pointer;
}

.weather-cards {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  background: rgba(186, 114, 114, 0);
  border-radius: 30px;
  padding: 25px;
  backdrop-filter: blur(8px);
  text-align: left;
  position: relative;
  top: 40px;
}

.card .icon {
  width: 160px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}



.weather-cards img.icon {
  width: 160px;
  height: auto;
  object-fit: contain;
  top: -70px;
}



.card h3 {
  font-size: 22px;
  margin-top: 70px;
}

.card span {
  color: #d0e2ff;
}

.card p {
  margin: 5px 0;
  color: #c1d0d9;
}

.desc {
  margin-top: 10px;
  font-weight: 600;
}

/* ===== FOOTER ===== */
.footer {
  background: #011320;
  padding: 20px 20px;
  margin-top: 60px;
  color: #ccc;
  text-align: center;
  border-top: 1px solid #222;
}

.footer h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #999;
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer .copyright {
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}
